*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slou{
    background-color: #f0d355;
    width:100%;
    height:70px;
    display: flex;  
}

.title1{
    font-family: cursive;
    font-size:80px;
    margin-left: 50px;
    z-index:1;
}

.desc{
    font-family: cursive;
    font-size: 40px;
    color: beige;
    margin-top: 100px;
    margin-left: 60px;
    z-index: 1;
}
.def{
    font-family: cursive;
    font-size: 20px;
    color:black;
    margin-top: 70px;
    margin-left: 60px;
    z-index: 1;
}

.img1{
    height:600px;
    display: block;
    margin-left: auto;
    margin-right:30px;
    width:600px;
    z-index:-1;
}

.f1{
    display: flex;
    width:100%;
    height:600px;
    background-color:#f0d355;
}
.image1{
   flex:50%;
}
.description1{
    flex: 50%;
}
